/* fonts */ 
@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}
/* fonts */ 

/* style basis */ 
body {
  margin: 0;
  font-family: 'Open Sans';
}
.font-neucha {
  font-family: 'Neucha';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neucha';
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  line-height: 1.6em;
  font-family: 'Open Sans';
}

.block {
  position: relative;
  height: auto;
  width: 1440px;
  margin: auto;
}

section {
  width: 1110px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-standart::before {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  opacity: 10%;
}

.bg-color-stand {
  background-color: #F5F4F0;
}

.bg-primary-dark {
  background-color: #42413C;
}

.bg-color-brown {
  background-color: #B09A81;
}

.bg-color-dark {
  background-color: #B09A81;
}

.bg-color-white {
  background-color: #fff;
}

.color-orange {
  color: #FE8A02;
}

.color-black {
  color: #2A2626;
}

.color-white {
  color:#fff;
}

.color-white-dark {
  color: #D7CCC0;
}

.color-grey {
  color: #908D8B;
}

.color-brown {
  color: #B09A81;
}

/* style basis */ 
.head-page {
  position: relative;
}

.header-img {
  height: 525px;
  position: absolute;
  top:55px;
  right: -270px;
}

.text-header {
  margin-top: 200px;
  columns: 2;
  column-gap: 30px;
  font-family: 'Open Sans';
  font-size: 16px;
}

.text-header p {
margin-top: 0;
}

.btn-main {
  position: relative;
  left: 568px;
  top: 40px;
  margin-bottom: 30px;
  width: 148px;
  height: 49px;
  background-color:#FE8A02;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
}

.btn-main:hover {
  background-color:#EA7600 ;
}

.btn-main p {
  margin: 0;
  padding: 11px 23px;
}

.what-is {
  margin-top: 10px;
  text-align: center;
}

.what-is p {
  margin-top: 30px;
  margin-bottom: 30px;
}
.video-section {
  height: 575px;
}

.video {
  display: flex;
  justify-content: center;
  position: relative;
  right: 10px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

#navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1310px;
  justify-content: center;
}

#navigation a,
#navigation a:visited,
#navigation a:active,
#navigation a:focus {
text-decoration: none;
color: #2A2626;
}

.navi {
  padding-top: 100px;
  position: static;
}

.five-points {
  width: 350px;
  height: 323px;
  margin: 10px 15px;
  margin-right: 60px;
}
.five-points h2 {
  font-size: 52px;
}
.card {
  width: 350px;
  height: 323px;
  background: #F5F4F0;
  padding: 24px;
  margin: 10px 15px;
}

.card:hover {
  background-color:#FE8A02;
  color: #fff;
  transition: all .3s ease;
}

.card:hover h3 {
  color: #fff;
}

.card h2 {
  font-size: 64px;
  margin-bottom: 40px;
  line-height: 1;
}

#ikea-effect {
position: relative;
}

.text-m-left30px {
  margin-left: 30px;
}

.cognitive {
  font-family: 'Neucha';
  font-size: 24px;
  margin: 0;
}

.text-section {
  font-family: 'Neucha';
  font-size: 34px;
  margin-top: 30px;
}

.content-section {
  display: flex;
}

.how-work {
  margin-top: 100px;
}

.head-work {
  width: 1110px;
  height: 26px;
}

.head-work h4 {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-work {
display: flex;
column-gap: 30px;
}

.paragraph {
  width: 540px;
  margin-top: 20px;
}

.paragraph p {
margin: 0;
}

#premature-optimization {
position: relative;
}

.img-m-left30px {
  margin-left: 30px;
}

#distortion-of-novelty {
  position: relative;
}

#hyperbolic-depreciation {
  position: relative;
}

#errors-in-planning {
  position: relative;
}

.form {
  height: 190px;
  width: 1110px;
  background-color: #42413C;
  display: flex;
}

.question {
  height: 80px;
  width: 393px;
  padding: 55px;
}

.input-email {
width: 423px;
padding-left: 67px;
}

.input-email p {
  color: #fff;
  font-size: 18px;
  margin-top: 38px;
  margin-bottom: 0;
}

.input-text {
  height: 50px;
  width: 423px;
  padding-left: 15px;
  border: none;
}

.link {
  font-size: 12px;
}

.btn-input {
  width: 70px;
  height: 50px;
  background-color: #FE8A02;
  position: relative;
  top:68px;
  left: 18px;
}

.btn-input::before {
  content: "";
  background-image: url(../images/send.svg);
  height: 20px;
  width: 20px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top:13px;
  right: 25px;
}

.btn-input:hover {
  background-color:#EA7600;
}

.contact-information {
  margin-top: 60px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 14px;
}