/* fonts */ 
@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}
/* fonts */ 

/* style basis */ 
body {
  margin: 0;
  font-family: 'Open Sans';
}
.font-neucha {
  font-family: 'Neucha';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neucha';
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  line-height: 1.6em;
  font-family: 'Open Sans';
}

.block {
  position: relative;
  height: auto;
  width: 1440px;
  margin: auto;
}

section {
  width: 1110px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-standart::before {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  opacity: 0.1;
}

.bg-color-stand {
  background-color: #F5F4F0;
}

.bg-primary-dark {
  background-color: #42413C;
}

.color-orange {
  color: #FE8A02;
}

.color-black {
  color: #2A2626;
}

.color-white {
  color:#fff;
}

/* style basis */ 
.head-page {
  position: relative;
}

.header-img {
  height: 525px;
  position: absolute;
  top:55px;
  right: -270px;
}

.text-header {
  margin-top: 200px;
  columns: 2;
  column-gap: 30px;
  font-family: 'Open Sans';
  font-size: 16px;
}

.text-header p {
margin-top: 0;
}

.btn-main {
  position: relative;
  left: 568px;
  top: 40px;
  margin-bottom: 30px;
  width: 148px;
  height: 49px;
  background-color:#FE8A02;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
}

.btn-main p {
  margin: 0;
  padding: 11px 23px;
}

.what-is {
  text-align: center;
}
.video-section {
  height: 575px;
}

.video {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

#navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1310px;
  justify-content: center;
  align-items: center;
}

.navi {
  padding-top: 100px;
  position: static;
}

.five-points {
  width: 350px;
  height: 323px;
  margin: 10px 15px;
  margin-right: 60px;
}
.five-points h2 {
  font-size: 52px;
}
.card {
  width: 350px;
  height: 323px;
  background: #F5F4F0;
  padding: 24px;
  margin: 10px 15px;
}

.card h2 {
  font-size: 64px;
  margin-bottom: 40px;
  line-height: 1;
}